  <!--
This file allows for the nav bar to be a dynamic template used at the top of all
the different pages, in order to create a cohesive, professional look. Everything
between the blocks % block head % and % endblock % can be changed within each page.
As well, the actual links at the top along with their labels can be changed by passing
in arguments in the views page.


Author: Alexandra Tenney & Himika Dastidar

Date Created: April 1, 2020

Date Updated: April 2, 2020

 -->


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team 1 Journal Submission Web</title>

    <link rel="stylesheet" href={"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "{% static 'homeStyleSheet.css'%}" >

</head>
<body>
<div id = "wrap">
    <header>
        <nav class="topnav" id="myTopnav">

                    <!--
                    This is the part that makes the navbar links and labels dynamic
                     -->

                    <li><a href = "/login">{{ Function4 }}</a></li>
                    <li><a href="{{dashVariable}}">{{ Function1 }}</a></li>
                    <li><a href="/journals">{{ Function2 }}</a></li>
                    <li><a href="/about">{{ Function3 }}</a></li>
                    <li><a href="/home" class="active">Home</a></li>

                    <a href="javascript:void(0);" class="icon" onclick="topNavFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
        </nav>
    </header>

<div class = "headerImage" id = "homeHeader">

     <img src= "{% static 'alberta.jpg' %}" style = "height: 300px" alt="Books">
</div>

<!-- This is where content for each induvidual page will go -->

    {% block head %}



    {%  endblock %}


</div>
</body>
</html>