{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "../static/loginStyle.css" >
    <title>Login Page</title>
</head>
<body>

<div class = "loginbox">

    <img src = "../static/avatar.png" class = "avatar" alt="">
    <h1>
        Login Here
    </h1>
    <form method="POST">{% csrf_token %}
        <p>Username</p>
        <label>
            <input type = "text" name = "username" placeholder = "Enter Username">
        </label>
        <p>Password</p>
        <label>
            <input type = "password" name = "password" placeholder="Enter Password">
        </label>
        <center><input class="button" type="submit" value="Login" name=""></center>
        <br>
        <a href = "/forgotpassword">Forgot your password?</a>
        <br>
        <a href = "/accounts/newAccount/">Create a new account</a>

        <a href="javascript:void(0);" class="icon" onclick="topNavFunction()">
        <i class="fa fa-bars"></i>
    </a>
    </form>


</div>

</body>
</html>