/*https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/



#wrap{
    width:1200px;
    margin: 0 auto;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    opacity: 75%;
    overflow: hidden;
    list-style-type: none;
}


/* Style the links inside the navigation bar */
.topnav a{
    float: right;
    font-family: "Century Gothic", sans-serif;

    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

img{
    width: 100%;
    height:95%;
    opacity: 75%;
}


.headerImage{
    alignment: center;
    background-color: black;
    width: 100%;
    height: 100%;
}


/*style the about Us section*/
.Home{
    padding-top: 20px;
    justify-content: center;
    background-color: #f2f2f2;
    font-family: "Century Gothic", sans-serif;
    width: 99.9%;
    height: auto;
    box-shadow: 1px 1px 3px 1px #333333;
}


h2{

    display: block;
    font-size: 25px;
    font-family: "Century Gothic", sans-serif;
    margin-top:5px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
}


p{
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    padding-bottom: 15px;
}