<!--
# Source: proposal_detail.html
# Author: Jeremy Stuart
# Date Created: April 10, 2020
# Date Updated:
# This page displays the details of the article that the editor chose on the Editor Management Page
-->

{% extends 'editorDashboard.html' %}

{% block head %}
    <div class="Home Journals">
    <form action="" method="post">
    <!-- ALL POWER TO THE CSRF TOKEN -->
    {% csrf_token %}

  <h1>Paper Title: {{ proposal.title}}</h1>

  <p><strong>Upload Date:</strong> {{proposal.upload_date }}</p>
  <p><strong>Status:</strong> {{ proposal.status }}
  <p><strong>Abstract:</strong> {{ proposal.abstract }}</p>
  <p><strong>Prefered Reviewer 1:</strong> {{proposal.reviewer_1 }}</p>
  <p><strong>Prefered Reviewer 2:</strong> {{proposal.reviewer_2 }}</p>
  <p><strong>Prefered Reviewer 3:</strong> {{proposal.reviewer_3 }}</p>

  <p><strong>Author Uploaded PDF File:</strong> <a href="{{ proposal.author_file.url }}">Click To Download!</a>

  <p><strong>Set reviewers, due date, add comments:</strong> <a href="{% url 'update-values' proposal.id %}">Click Here!</a>

      <!-- would like this to be a button, not a link, but couldn't get it to work
      ALSO THE DAMN THING ISN'T WORKING!!!!       -->
      <p><a href="{% url 'delete-submission' proposal.id %}">DELETE SUBMISSION</a></p>


    <!--<object data="{{ proposal.author_file.url }}" type="application/pdf" width="100%" height="100%"> -->
      </form>
  <div style="margin-left:20px;margin-top:20px">

  </div>
    </div>
{% endblock %}