<!--Source: Laura Timm -->
<!--Author: Anna Chaykovska-->
<!--Date Created: April 13, 2020-->
<!--Date Updated:-->
<!--This page gives a form for the reviewer to be able to add comments and upload own copy to the file-->

{% extends 'reviewer/reviewer_add_review.html' %}

{% block head %}
<div class="Home Journals">
    <CENTER>
    <div class="jumbotron">

        <p>Updates Saved!</p>
       <p><a href="/proposal_list/">Return to List of Proposals Page</a></p>

    </object>
    </div>
    </CENTER>
</div>

{% endblock %}