<!--Author: Anna Chaykovska-->
<!--Date Created: April 5, 2020-->
<!--Date Updated: April 13, 2020-->
<!--This page displays the details of the article that the reviewer chose-->

{% extends 'reviewerDashboard.html' %}

{% block head %}
  <h1>Title: {{ proposal.title}}</h1>
  <div class="Home Journals">
    <p><strong>Status:</strong> {{ proposal.status }}</p>
    <p><strong>Upload Date:</strong> {{proposal.upload_date }}</p>
    <p><strong>Due Date:</strong> {{proposal.due_date }}</p>
    <p><strong>Version:</strong> {{proposal.version }}</p>
    <p><strong>Abstract:</strong></p>
    <textarea readonly rows="15" cols="15" wrap="soft">
    {{ proposal.abstract }}
    </textarea>

    {% if user == proposal.reviewer_1 %}
      <!-- update comments to be only to the right reviewer -->
      <p><strong>Your Current Comments:</strong></p>
      <textarea readonly rows="15" cols="15" wrap="soft">
      {{ proposal.reviewer_1_comment }}
      </textarea>
      {% if proposal.reviewer_1_file %}
        <object data="{{ proposal.reviewer_1_file.url }}" type="application/pdf" width="100%" height="100%"> </object>
        <p><strong>Your file:</strong> <a href="{{ proposal.reviewer_1_file.url }}">View</a></p>
      {% else %}
        <p><strong>No PDF uploaded yet!</strong></p>
      {% endif %}

    {% elif user == proposal.reviewer_2 %}
      <!-- update comments to be only to the right reviewer -->
      <p><strong>Your Current Comments:</strong></p>
      <textarea readonly rows="15" cols="15" wrap="soft">
      {{ proposal.reviewer_2_comment }}
      </textarea>
      {% if proposal.reviewer_2_file %}
        <object data="{{ proposal.reviewer_2_file.url }}" type="application/pdf" width="100%" height="100%"> </object>
        <p><strong>Your file:</strong> <a href="{{ proposal.reviewer_2_file.url }}">View</a></p>
      {% else %}
        <p><strong>No PDF uploaded yet!</strong></p>
      {% endif %}

    {% elif user == proposal.reviewer_3 %}
      <!-- update comments to be only to the right reviewer -->
      <p><strong>Your Current Comments:</strong></p>
      <textarea readonly rows="15" cols="15" wrap="soft">
      {{ proposal.reviewer_3_comment }}
      </textarea>
      {% if proposal.reviewer_3_file %}
        <object data="{{ proposal.reviewer_3_file.url }}" type="application/pdf" width="100%" height="100%"> </object>
        <p><strong>Your file:</strong> <a href="{{ proposal.reviewer_3_file.url }}">View</a></p>
      {% else %}
        <p><strong>No PDF uploaded yet!</strong></p>
      {% endif %}

    {% else %}
      <p><strong>Not able to view any comments for this paper.</strong></p>
    {% endif %}

    <object data="{{ proposal.author_file.url }}" type="application/pdf" width="100%" height="100%"> </object>
    <p><strong>Author Uploaded PDF File:</strong> <a href="{{ proposal.author_file.url }}">Author copy</a></p>

    {% if user == proposal.reviewer_1 %}
      <p><strong>To add review to file:</strong><a href="{% url 'add-review-1' proposal.id %}">Add a review</a></p>
    {% elif user == proposal.reviewer_2 %}
      <p><strong>To add review to file:</strong><a href="{% url 'add-review-2' proposal.id %}">Add a review</a></p>
    {% elif user == proposal.reviewer_3 %}
      <p><strong>To add review to file:</strong><a href="{% url 'add-review-3' proposal.id %}">Add a review</a></p>
    {% endif%}
  </div>


  <div style="margin-left:20px;margin-top:20px">
  </div>
{% endblock %}