<!--Author: Anna Chaykovska-->
<!--Date Created: April 13, 2020-->
<!--Date Updated:-->
<!--This page displays a list of proposals available for the viewer-->

{% extends 'reviewerDashboard.html' %}

{% block head %}
<div class="Home Journals">
    <head>
        <title>Review This Paper</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <center>
            <div class="jumbotron">
                <h2 class="display-4">Add to the Review</h2>
        {% block replace %}
                <hr class="my-4">
                {% if user == proposal.reviewer_1 %}
                 <form method="POST" enctype="multipart/form-data">
                    <!-- Very Important csrf Token -->
                    {% csrf_token %}
                    <table>
                        <p><strong>Your Comment:</strong></p> {{ form.reviewer_1_comment }}
                        <p><strong>Choose PDF File to upload:</strong> {{ form.reviewer_1_file }} </p>
                    </table><br>
                    <input type="submit" class="btn btn-primary btn-lg" name="register">
                </form>

                {% elif user == proposal.reviewer_2 %}
                <form method="POST" enctype="multipart/form-data">
                    <!-- Very Important csrf Token -->
                    {% csrf_token %}
                    <table>
                        <p><strong>Your Comment:</strong></p> {{ form.reviewer_2_comment }}
                        <p><strong>Choose PDF File to upload:</strong> {{ form.reviewer_2_file }}</p>
                    </table><br>
                    <input type="submit" class="btn btn-primary btn-lg" name="register">
                </form>

                {% elif user == proposal.reviewer_3 %}
                <form method="POST" enctype="multipart/form-data">
                    <!-- Very Important csrf Token -->
                    {% csrf_token %}
                    <table>
                        <p><strong>Your Comment:</strong></p> {{ form.reviewer_3_comment }}
                        <p><strong>Choose PDF File to upload:</strong>{{ form.reviewer_3_file }} </p>
                    </table><br>
                    <input type="submit" class="btn btn-primary btn-lg" name="register">
                </form>

                {% else %}
                <p><strong>Bad Form</strong></p>
                {% endif %}

            </div>
        </center>
        {% endblock %}
    </body>
</div>

{% endblock %}