{% extends 'authorDashboard.html' %}

{% block head %}
    <div class="Home Journals">
    <h1> Title: {{ proposal.title }}</h1>

    <p><strong>Status:</strong> {{ proposal.status }}</p> <!-- author detail link not yet defined -->
    <p><strong>Abstract:</strong> {{ proposal.abstract }}</p>
    <p><strong>Upload Date:</strong> {{ proposal.upload_date }}</p>

    <object data="{{ proposal.author_file.url }}" type="application/pdf" width="100%" height="100%">
    <p><strong>Original Author PDF File:</strong> <a href="{{ proposal.author_file.url }}">Author Submission</a></p>

    {% if proposal.reviewer_1_file %}

        <object data="{{ proposal.reviewer_1_file.url }}" type="application/pdf" width="100%" height="100%">
        <p><strong>Reviewer Uploaded PDF File:</strong> <a
                href="{{ proposal.reviewer_1_file.url }}">{{ proposal.reviewer_1 }} Review</a></p>

        {% if proposal.reviewer_2_file %}
            <object data="{{ proposal.reviewer_2_file.url }}" type="application/pdf" width="100%" height="100%">
            <p><strong>Reviewer Uploaded PDF File:</strong> <a
                    href="{{ proposal.review_2_file.url }}">{{ proposal.reviewer_2 }} Review</a></p>
        {% endif %}

        {% if proposal.reviewer_3_file %}
            <object data="{{ proposal.reviewer_3_file.url }}" type="application/pdf" width="100%" height="100%">
            <p><strong>Reviewer Uploaded PDF File:</strong> <a
                    href="{{ proposal.review_3_file.url }}">{{ proposal.reviewer_3 }} Review</a></p>
        {% endif %}


    {% elif proposal.reviewer_2_file %}
        <object data="{{ proposal.reviewer_2_file.url }}" type="application/pdf" width="100%" height="100%">
        <p><strong>Reviewer Uploaded PDF File:</strong> <a
                href="{{ proposal.review_2_file.url }}">{{ proposal.reviewer_2 }}</a></p>

        {% if proposal.reviewer_3_file %}
            <object data="{{ proposal.reviewer_3_file.url }}" type="application/pdf" width="100%" height="100%">
            <p><strong>Reviewer Uploaded PDF File:</strong> <a
                    href="{{ proposal.review_3_file.url }}">{{ proposal.reviewer_3 }} Review</a></p>
            {% endif%}

    {% elif proposal.reviewer_3_file %}
        <object data="{{ proposal.reviewer_3_file.url }}" type="application/pdf" width="100%" height="100%">
        <p><strong>Reviewer Uploaded PDF File:</strong> <a href="{{ proposal.review_3_file.url }}">HERE!</a></p>

    {% else %}
        <p>There are no proposals in progress.</p>
    {% endif %}


{% endblock %}
