{#Source: https://data-flair.training/blogs/django-file-upload/#}
{#Author: Laura Timm#}
{#Date Created: March 29, 2020#}
{#This is the upload file html page #}
{% extends 'authorDashboard.html' %}

{% block head %}
<!DOCTYPE html>
<html>
    <head>
        <title>Upload Journal Submission</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <center>
            <div class="jumbotron">
                <h1 class="display-4">Resubmit File</h1>
                        {% block replace %}
                <h2>Please Fill in the Following to Upload File</h2>
                <hr class="my-4">
                <form method="POST" enctype="multipart/form-data">
                    <!-- Very Important csrf Token -->
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table><br>
                    <input type="submit" class="btn btn-primary btn-lg" name="register">
                </form>
                            </div>
        </center>
        {% endblock %}
    </body>
</html>
{% endblock %}