{#Source: https://data-flair.training/blogs/django-file-upload/#}
{#Author: Laura Timm#}
{#Date Created: March 29, 2020#}
{#This extends file html page, used when the file is successfully uploaded #}

{% extends 'author/author_resubmit.html' %}

{% block replace %}
<CENTER>
<div class="jumbotron">

    <h2 class="display-4">Thank You. Your submission has been uploaded successfully <br> </h2>
    <object data="{{ author_resubmit.url }}" type="application/pdf" width="100%" height="100%">
  <h3>Please select the following link to view your file: <a href="{{ author_resubmit.url }}">to the PDF!</a></h3>

</object>


</div>
</CENTER>
{% endblock %}