{% extends 'authorDashboard.html' %}

{% block head %}
    <!DOCTYPE html>
    <html>
<div class = "Home Journals">
        <h2>Journal Submission List</h2>

    <!-- Very Important csrf Token -->
    {% csrf_token %}

    <table border="5" WIDTH="80%" ALIGN="CENTER" CELLPADDING="3" CELLSPACING="4">

        <tr>
            <th colspan="6">
                <h2>Your Submissions</h2><br>
                <center> Click the Title of the Submission to see Original pdf and Reviewer files. </center>
            </th>
        </tr>

        <tr>

            <th><h2>Title</h2></th>
            <th><h2>Status</h2></th>
            <th><h2>Upload Date</h2></th>

        </tr>

        {% for item in num_proposals %}

            <tr>
                <td><a href="{{ item.get_author_url }}">{{ item.title }}</a></td>
                <td>{{ item.status }}</td>
                <td>{{ item.upload_date }}</td>


            </tr>

        {% endfor %}

    </table>
    <br>
    <br>
</div>
    </html>
{% endblock %}
