{% extends 'authorDashboard.html' %}

{% block head %}
    <!DOCTYPE html>
    <html>
    <head>
<div class = "Home Journals">
        <h2>Journal Submission List</h2> <br>
    </head>
    <body>


    <!-- Very Important csrf Token -->
    {% csrf_token %}

    <table class="minimalistBlack" border="5" WIDTH="80%" ALIGN="CENTER" CELLPADDING="4" CELLSPACING="4">

        <tr>
            <th colspan="6">
                <h2>Your Submissions</h2>
            </th>
        </tr>

        <tr>

            <th><h2><center>Title</center></h2></th>
            <th><h2><center>Status</center></h2></th>
            <th><h2><center>Upload Date</center></h2></th>
            <th><h2><center>Reviewer 1 File</center></h2></th>
            <th><h2><center>Reviewer 2 File</center></h2></th>
            <th><h2><center>Reviewer 3 File</center></h2></th>

        </tr>

        {% for item in num_proposals %}

            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.upload_date }}</td>
                <td><a href="{{ item.get_absolute_url }}">{{ item.reviewer_1_file }}</a></td>
                <td><a href="{{ item.get_absolute_url }}">{{ item.reviewer_2_file }}</a></td>
                <td><a href="{{ item.get_absolute_url }}">{{ item.reviewer_3_file }}</a></td>
            </tr>

        {% endfor %}

    </table>
    <br>
    <br>

    </body>
    </html>
{% endblock %}
